<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
 <xacro:arg name="namespace" default="wamv"/>  
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" /> 
  <!-- Macro for creating the main collisions as simple shapes. -->
  <xacro:macro name="main_collisions" params="prefix reflect:=1">

    
  </xacro:macro>

  <link name="${namespace}/base_link">
  </link>

  <joint name="${namespace}/dummy_joint" type = "fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/dummy_link"/>
  </joint>

  <!-- Basic model of the 16' WAM-V USV -->
  <link name="${namespace}/dummy_link">
    <visual>
      <origin xyz="-0.7 0.085 -0.45" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wamv_description/models/WAM-V-Base/mesh/WAM-V-Base.dae"/>
      </geometry>
    </visual>

     <!-- General collison for all robot made by JL -->
    <collision name="top_base">
      <origin xyz="0.25 0  0.2" rpy="0 0 0" />
      <geometry>
        <box size="1.52 1.16 .8" />
      </geometry>
    </collision>

    <inertial>
      <!-- valore aproximados para Geneseas, chequear -->
      <mass value="16.32"/>
      <inertia ixx="2.74" ixy="0.0" ixz="0.0" iyy="4.16" iyz="0.0" izz="4.7"/> 
    </inertial>
  </link>

</robot>
